<h1>Welcome, <%=@user.fname%></h1>
<hr/>
<h4>Would you like to:</h4>
<%=link_to "Update Your Profile", edit_user_path(@user)%><br/>
<%=link_to "View Your Order", orders_path(@user.orders)%><br/>
<%=link_to "View or Edit Your Credit Card", card_path(@user.cards)%><br/>
