$black: black;
$gray: lightslategray;
$graybg: whitesmoke;
$highlight: crimson;

body 
	{
		font-family: 'ProximaNova',sans-serif;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
		font-size:16px;

		h1,h2,h3,h4,h5,h6
			{
				font-family: 'ProximaNovaBold', sans-serif;
				text-transform: uppercase;
				font-weight:bold;
				letter-spacing: .05em;
			}
	}
a 
	{
		text-decoration:none;
		color:$black;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
a:hover
	{
		text-decoration:none;
	}	
.logo
	{
		background-color:white;
		margin:auto;
		width:30%;
		h1
			{
				font-size:10em;
				color: $black;
				
			}
		hr
			{
				background-color: $graybg;
				padding-top:-40em;
			}
	}