@font-face 
		{
			font-family: 'ProximaNova';
			src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), 
			url('proximanova-regular-webfont.woff') format('woff'), 
			url('proximanova-regular-webfont.ttf')  format('truetype'),
			url('proximanova-regular-webfont.svg#svgFontName') format('svg');
		}
@font-face 
		{
			font-family: 'ProximaNovaBold';
			src: url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), 
			url('proximanova-bold-webfont.woff') format('woff'), 
			url('proximanova-bold-webfont.ttf')  format('truetype'),
			url('proximanova-bold-webfont.svg#svgFontName') format('svg');
		}

@font-face 
		{
			font-family: 'ProximaNovaLight';
			src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), 
			url('proximanova-light-webfont.woff') format('woff'), 
			url('proximanova-light-webfont.ttf')  format('truetype'),
			url('proximanova-light-webfont.svg#svgFontName') format('svg');
		}		

