// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



section.products 
	{
		display: table;
		table-layout: fixed;
		
		
		hgroup
			{
				display: table-row;

				min-width: 100%;
				text-align: center;
				h4
					{
						
						text-align: center;
						margin-top:20px;
						margin-bottom:10px;
						padding-bottom:0px;
						font-size:24px;
						width:100%;


					}
				hr
					{
						width:80px;
						height:4px;
						background-color:black;	
						margin-top:0px;	
					}
			}
				div
					{
						display: table-cell;
						padding:15px;
						a
							{
								max-height: 100%;
								img 
									{
										width:100%!important;
										filter: grayscale(100%);
										-webkit-filter: grayscale(100%);  /* For Webkit browsers */
										filter: gray;  /* For IE 6 - 9 */
										-webkit-transition: all .6s ease;  /* Transition for Webkit browsers */										
									}
								span
									{
										width:100%;
										display: block;
										margin-top:10px;
										font-family: "Times New Roman", Times, serif;
										b
										{
											font-family: 'ProximaNovaBold';
											font-size:18px;
											text-transform: uppercase;
										}
										text-align: center;
										color:black;
									}		
							}
					}
						div.child-0{padding-left:0!important;}			
						div.child-3{padding-right:0!important;}	
						a:hover img
							{
								filter: grayscale(0%);
								-webkit-filter: grayscale(0%);
								filter: none;
										
							}				

	}