<% if @current_user %>
	<span class="user-panel">Hello, 
		<%= link_to user_path(@current_user.id) do %>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%=@current_user.fname.capitalize%> &nbsp;|&nbsp;
		<% end %>
	
	<%= link_to "Logout", session_path(session[:user_id]), method: "delete" %> 
	<% else %>
	<%= link_to new_session_path do %> 
	<span class="user-panel">
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login 
	</span>
	<% end %>
	</span>

<%end%>